body {
		background: #f2f2f2;
	}
	.navbar-toggle {
		display:block;
	}
	.navbar-brand {
		padding-right:10px;
		font-family:Raleway;
	}
	.form-control {
		    	max-width: 1300px;
    			width: 60%;
    			display: inline;
    			margin: 10px;
    			background: none;
    			border: .5px solid rgba(255,255,255,.1);
    			border-radius: 50px;
    /* border: 0px; */
	}
	.form-control:focus {
  		color: black;
  		background-color: rgba(255,255,255,.2);
  		border:none;
  		outline: 0;
  		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
	#todos ul {
		padding-left:0;
		

	}

	#todos li {
		background: #fff;
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 10px;
		width:90%;
		list-style-type: none;
		/*padding:15px;*/
		text-decoration:none;
		overflow:hidden;
		min-height:60px;
	
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	}
	.btn {
		float:right;
		padding:5px 10px;
		border-radius:50px;
	}
	#new {
		margin-top:11px;
		background: none;
		padding:0;
		padding-top: 4px;
		padding-bottom: 13px;
		border-radius:40px;
		font-weight:bold;
		color: #007bff;
		background-color: transparent;
		background-image: none;
		border-color: none;
		width:30px;
		height:30px;
	}
	#delete2 {
		margin-top:11px;
		background: none;
		padding:0;
		padding-top: 4px;
		padding-bottom: 13px;
		border-radius:50px;
		font-weight:bold;
		color: red;
		background-color: transparent;
		background-image: none;
		border-color: none;
		width:30px;
		height:30px;
	}
	#delete {
		background:white;
		border-radius:50px;
		line-height: 50px
		padding: 0px;
		width: 40px;
		height: 40px;
		font-weight:bold;
	}
	.navbar-default {
		/*background: #fcfdff;*/
	}
	.bg-primary {
		background:#24292e;
	}
	.cals {
		float:right;
		border-left:1px solid lightblue;
		padding:20px;
		height:60px;
	}
	.itemn {
		float:left;
		padding:20px;
		height:60px;

	}
	.buttons {
		display:none;
	}
	.btn-outline-primarymade {
		margin-right:10px;
		margin-top:12px;
		color: red;
		background-color: transparent;
		background-image: none;
		border-color: red;
	}
	.btn-outline-database {
		margin-right:10px;
		margin-top:12px;
		color: green;
		background-color: transparent;
		background-image: none;
		border-color: green;
	}
