	body {
		background: #232323;
		margin:0;
		height: 100%;
	}
	.mich {
		background-image: url(https://78.media.tumblr.com/6d453e8c26622179ba4de8fc60a18b50/tumblr_ou7tgpNdD51wnnbh0o1_500.gif);
		background-size:cover;
		height:1000px;
	}
	#container {
		max-width:600px;
		margin: 15px auto;

	}
	.square {
		width:30%;
		background: none;
		padding-bottom:30%;
		float:left;
		margin: 1.66%;
		border-radius: 15%;
		transition: background 0.6s;
		-webkit-transition: background 0.6s;
		-moz-transition: background 0.6s;
		font-size:50px;
	}
	.michael {
		 background-image: url("michael.gif");
		 background-size:cover;
	}
	#michael{
		display:none;
	}

	h1 {
		color:white;
		line-height: 1.1;
		text-align:center;
		background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
		margin:0;
		font-family: "Nunito","Avenier";
		font-weight: normal;
		text-transform: uppercase;
		padding:20px 0;
	}

	#colorDisplay {
		font-size: 200%;
		text-align:center;
	}
	#stripe {
		background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
		height:40px;
		text-align:center;
		color:black;

	}
	button {
		border:none;
		background: none;
		text-transform: uppercase;
		font-weight:700;
		letter-spacing: 1px;
		color: steelblue;
		font-size: inherit;
		height:100%;
		transition: all 0.3s;
		outline: none;
	}

	button:hover {
		color: white;
		background: steelblue;
	}

	#message {
		display: inline-block;
		width:50%;
		text-transform:uppercase;
		color:white;
		line-height: 1.1;
		font-family: "Nunito","Avenier";
		font-weight:700;
		font-size: 150%;
	}

	h3 {
		margin:0;
		color:white;
		text-align:center;
		font-size:500%;
	}
	#score {
		color:white;
		font-size:inherit;
		padding-left:10px;
	}
	.selected {
		color:white;
		background: steelblue;
	}

	#myAudio, #myAudio2 {
		display:none;
	}

@media screen and (max-width:450px ) {
  	#colorDisplay {
		font-size: 30px;
	}
	#message {
		display: inline-block;
		width:10%;
	}
 

}
